* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('LogOo.png');
  background-size: cover;
  background-position: center;
  color: rgb(0, 26, 255);
  height: 100vh;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Texto de bienvenida */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px; /* espacio para el header fijo */
  text-align: center;
}

.bienvenida h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.bienvenida p {
  font-size: 1.5em;
}